/*DATEPICKER-3 designe i inputit*/

.probootstrap-form .datepicker-3 {
    height: 46px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #e6e5e5;
    background: #fafafa;
    -webkit-transition: .3s all ease-out;
    transition: .3s all ease-out;
}

.probootstrap-form .datepicker-3:active,
.probootstrap-form .datepicker-3:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #AE954B;
    background: #ffffff;
}

.probootstrap-form .form-group .form-field .datepicker-3 {
    padding-right: 50px;
}

.probootstrap-form textarea.datepicker-3 {
    height: inherit;
    resize: vertical;
}

.datepicker-3 {
    padding: 10px;
    font-size: 14px;
    font-size: 0.875rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ddd;
    height: calc(1.75em + .75rem + 2px);
	width:100%
}

.datepicker-3:focus {
    border-color: #ccc;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.05)
}

.datepicker-3::-moz-placeholder {
    color: rgb(112, 112, 112);
    opacity: 1;
}

.datepicker-3:-ms-input-placeholder {
    color: #999;
}

.datepicker-3::-webkit-input-placeholder {
    color: #999;
}